
@media (min-width:0px) and (max-width:400px){
    .mainTitleDiv{
        width:100%;
    }
    .mainTitle{
        font-size: 3em;
        font-family: Cuprum;
    }
    .tickerDiv{
        width:90%;
        height: 60px;     
    }
    .cardsDiv{
        
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}